.modal{
    opacity: 0;
}

.modal.show{
    opacity: 1;
    transition: all 0.5s;
}

.connections-modal{
    width: 80%;
    height: 90vh;
    max-width: initial;
}

.connections-modal .modal-content{
    height: 100%;
}