.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
$primary-color: #282c34;
$secondary-color: #61dafb;

.App-header {
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.w_33{
  width: 33%;
}
.submenu{
  display: inline-block
}
.submenu:hover {
  border-bottom: 1px solid white !important
}

.inspire-navbar {
  background: #343547;
  height: 7vh;
  max-height: 200px;
}

.inspire-main {
  background-color: #EDEFF8;
  min-height: '100vh';
  padding: 0;
}
.inspire-content{
  margin: 0 auto;
  margin-top: 3em;
  padding-top: 4em;
  min-height: 86vh;
  padding: 0 10% 0 10%;
  max-width: 1200px;
  
}

.inspire-dropdown-toggle:after{
  content: none !important;
}

.inspire-dropdown{
  background-color: transparent;
}
.inspire-dropdown:hover{
  background-color: #4285f4;
}
.inspire-dropdown:focus{
  border: 0;
}
.nav-link{
  color: black;
}



