.inspire-table-search {
    width: 80%;
    outline: none;
    border: 0;
}

.inspire-table-search-border{
    background-color: grey;
    height: 1px;
    width: 0;
    transition: width 0.1s linear;
    &.active{
        width: 80%;    
    }
}

.inspire-table-search-number{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

